.app {
    display: block;
    height: 100%;
    overflow: hidden;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    padding: 30px 0 15px 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}