.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 80%;
    padding: 10px 0 40px 0;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    max-height: 400px;
    translate: 0 -15%;
}

.auth-page h1 {
    margin: 0;
    padding: 20px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    padding: 0;
    margin: 0;
}

.auth-form input {
    width: 100%;
    padding: 8px;
    margin: 0;
}

.auth-form button {
    padding: 5px;
    width: 100%;
    margin-top: 12px;
}

.auth-page p {
    padding: 25px 0 25px 0;
    margin: 0;
    text-align: center;
    max-width: 90%;
}