html {
    overflow-y: hidden;
}

body {
    background-color: rgb(246, 245, 244);
    width: 100vw;
    height: 100vh;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}